# Regular modules
[submodule ".vim/bundle/syntastic"]
    path = .vim/bundle/syntastic
    url = https://github.com/scrooloose/syntastic.git
    ignore = all

[submodule ".vim/bundle/MatchTagAlways"]
    path = .vim/bundle/MatchTagAlways
    url = https://github.com/Valloric/MatchTagAlways.git
    ignore = all

[submodule ".vim/bundle/vim-surround"]
    path = .vim/bundle/vim-surround
    url = https://github.com/tpope/vim-surround.git
    ignore = all

[submodule ".vim/bundle/supertab"]
    path = .vim/bundle/supertab
    url = https://github.com/ervandew/supertab.git
    ignore = all

[submodule ".vim/bundle/vim-autoswap"]
    path = .vim/bundle/vim-autoswap
    url = https://github.com/gioele/vim-autoswap.git
    ignore = all

[submodule ".vim/bundle/vim-commentary"]
    path = .vim/bundle/vim-commentary
    url = https://github.com/tpope/vim-commentary.git
    ignore = all

[submodule ".vim/bundle/vim-fugitive"]
    path = .vim/bundle/vim-fugitive
    url = https://github.com/tpope/vim-fugitive.git
    ignore = all

[submodule ".vim/bundle/jedi-vim"]
    path = .vim/bundle/jedi-vim
    url = https://github.com/davidhalter/jedi-vim.git
    ignore = all

[submodule ".vim/bundle/neocomplete.vim"]
    path = .vim/bundle/neocomplete.vim
    url = https://github.com/Shougo/neocomplete.vim.git
    ignore = all

[submodule ".vim/bundle/tabular"]
    path = .vim/bundle/tabular
    url = https://github.com/godlygeek/tabular.git
    ignore = all

[submodule ".vim/bundle/delimitMate"]
    path = .vim/bundle/delimitMate
    url = https://github.com/Raimondi/delimitMate.git
    ignore = all

[submodule ".vim/bundle/indentLine"]
    path = .vim/bundle/indentLine
    url = https://github.com/Yggdroot/indentLine.git
    ignore = all

[submodule ".vim/bundle/vim-misc"]
    path = .vim/bundle/vim-misc
    url = https://github.com/xolox/vim-misc.git
    ignore = all

[submodule ".vim/bundle/vim-notes"]
    path = .vim/bundle/vim-notes
    url = https://github.com/xolox/vim-notes.git
    ignore = all

[submodule ".vim/bundle/vim-javacomplete2"]
    path = .vim/bundle/vim-javacomplete2
    url = https://github.com/artur-shaik/vim-javacomplete2.git
    ignore = all

[submodule ".vim/bundle/gundo.vim"]
    path = .vim/bundle/gundo.vim
    url = https://github.com/sjl/gundo.vim.git
    ignore = all

[submodule ".vim/bundle/vim-mundo"]
    path = .vim/bundle/vim-mundo
    url = https://github.com/simnalamburt/vim-mundo.git
    ignore = all

[submodule ".vim/bundle/vim-over"]
    path = .vim/bundle/vim-over
    url = https://github.com/osyo-manga/vim-over.git
    ignore = all

[submodule ".vim/bundle/stackanswers.vim"]
    path = .vim/bundle/stackanswers.vim
    url = https://github.com/james9909/stackanswers.vim.git
    ignore = all

[submodule ".oh-my-zsh/custom/plugins/zsh-syntax-highlighting"]
    path = .oh-my-zsh/custom/plugins/zsh-syntax-highlighting
    url = https://github.com/zsh-users/zsh-syntax-highlighting.git
    ignore = all

[submodule ".vim/bundle/neomake"]
    path = .vim/bundle/neomake
    url = https://github.com/benekastah/neomake.git
    ignore = all

[submodule ".vim/bundle/vim-airline"]
    path = .vim/bundle/vim-airline
    url = https://github.com/bling/vim-airline.git
    ignore = all

[submodule ".vim/bundle/vim-gitgutter"]
    path = .vim/bundle/vim-gitgutter
    url = https://github.com/airblade/vim-gitgutter.git
    ignore = all

[submodule ".vim/bundle/vim-plug"]
    path = .vim/bundle/vim-plug
    url = https://github.com/junegunn/vim-plug.git
    ignore = all

[submodule ".vim/bundle/vim-instant-markdown"]
    path = .vim/bundle/vim-instant-markdown
    url = https://github.com/suan/vim-instant-markdown.git
    ignore = all

[submodule ".vim/bundle/gruvbox"]
    path = .vim/bundle/gruvbox
    url = https://github.com/morhetz/gruvbox.git
    ignore = all

[submodule ".vim/bundle/emmet-vim"]
    path = .vim/bundle/emmet-vim
    url = https://github.com/mattn/emmet-vim.git
    ignore = all

[submodule ".vim/bundle/deoplete.nvim"]
    path = .vim/bundle/deoplete.nvim
    url = https://github.com/Shougo/deoplete.nvim.git
    ignore = all
[submodule ".vim/bundle/fzf"]
    path = .vim/bundle/fzf
    url = https://github.com/junegunn/fzf.git
    ignore = all
[submodule ".vim/bundle/VimCompletesMe"]
    path = .vim/bundle/VimCompletesMe
    url = https://github.com/ajh17/VimCompletesMe.git
    ignore = all
[submodule ".vim/bundle/vim-python-pep8-indent"]
    path = .vim/bundle/vim-python-pep8-indent
    url = https://github.com/hynek/vim-python-pep8-indent.git
    ignore = all
[submodule ".vim/bundle/vim-abolish"]
    path = .vim/bundle/vim-abolish
    url = https://github.com/tpope/vim-abolish.git
    ignore = all
[submodule ".vim/bundle/vim-easytags"]
    path = .vim/bundle/vim-easytags
    url = https://github.com/xolox/vim-easytags.git
    ignore = all
[submodule ".vim/bundle/vim-clang"]
    path = .vim/bundle/vim-clang
    url = https://github.com/justmao945/vim-clang.git
    ignore = all
