# Regular modules
[submodule "vim/bundle/syntastic"]
    path = vim/bundle/syntastic
    url = https://github.com/scrooloose/syntastic
    ignore = all
[submodule "vim/bundle/YouCompleteMe"]
    path = vim/bundle/YouCompleteMe
    url = https://github.com/Valloric/YouCompleteMe
    ignore = all
[submodule "vim/bundle/MatchTagAlways"]
    path = vim/bundle/MatchTagAlways
    url = https://github.com/Valloric/MatchTagAlways
    ignore = all
[submodule "vim/bundle/ctrlp.vim"]
    path = vim/bundle/ctrlp.vim
    url = https://github.com/kien/ctrlp.vim
    ignore = all
[submodule "vim/bundle/UltiSnips"]
    path = vim/bundle/UltiSnips
    url = https://github.com/SirVer/UltiSnips
    ignore = all
[submodule "vim/bundle/vim-surround"]
    path = vim/bundle/vim-surround
    url = https://github.com/tpope/vim-surround
    ignore = all
[submodule "vim/bundle/nerdtree"]
    path = vim/bundle/nerdtree
    url = https://github.com/scrooloose/nerdtree
    ignore = all
[submodule "vim/bundle/Vundle.vim"]
    path = vim/bundle/Vundle.vim
    url = https://github.com/gmarik/Vundle.vim
    ignore = all
[submodule "vim/bundle/supertab"]
    path = vim/bundle/supertab
    url = https://github.com/ervandew/supertab
    ignore = all
[submodule "vim/bundle/vim-schlepp"]
    path = vim/bundle/vim-schlepp
    url = https://github.com/zirrostig/vim-schlepp
    ignore = all
[submodule "vim/bundle/auto-pairs"]
    path = vim/bundle/auto-pairs
    url = https://github.com/jiangmiao/auto-pairs
    ignore = all
[submodule "vim/bundle/vim-autoswap"]
    path = vim/bundle/vim-autoswap
    url = https://github.com/gioele/vim-autoswap
    ignore = all
[submodule "vim/bundle/vim-commentary"]
    path = vim/bundle/vim-commentary
    url = https://github.com/tpope/vim-commentary
    ignore = all
[submodule "vim/bundle/vim-colors-solarized"]
    path = vim/bundle/vim-colors-solarized
    url = https://github.com/alercation/vim-colors-solarized
    ignore = all
[submodule "vim/bundle/vim-airline"]
    path = vim/bundle/vim-airline
    url = https://github.com/bling/vim-airline
    ignore = all
[submodule "vim/bundle/vim-fugitive"]
    path = vim/bundle/vim-fugitive
    url = https://github.com/tpope/vim-fugitive
    ignore = all
[submodule "vim/bundle/molokai"]
    path = vim/bundle/molokai
    url = https://github.com/tomasr/molokai
    ignore = all
[submodule "vim/bundle/vim-easymotion"]
    path = vim/bundle/vim-easymotion
    url = https://github.com/Lokaltog/vim-easymotion
    ignore = all
[submodule "vim/bundle/jedi-vim"]
    path = vim/bundle/jedi-vim
    url = https://github.com/davidhalter/jedi-vim
    ignore = all
[submodule "vim/bundle/neocomplete.vim"]
    path = vim/bundle/neocomplete.vim
    url = https://github.com/Shougo/neocomplete.vim
    ignore = all
[submodule "vim/bundle/tabular"]
    path = vim/bundle/tabular
    url = https://github.com/godlygeek/tabular
    ignore = all
[submodule "zsh/zsh-syntax-highlighting"]
    path = zsh/zsh-syntax-highlighting
    url = https://github.com/zsh-users/zsh-syntax-highlighting
    ignore = all

# School modules
[submodule "School/vim/bundle/auto-pairs"]
    path = School/vim/bundle/auto-pairs
    url = https://github.com/jiangmiao/auto-pairs
    ignore = all
[submodule "School/vim/bundle/ctrlp.vim"]
    path = School/vim/bundle/ctrlp.vim
    url = https://github.com/kien/ctrlp.vim
    ignore = all
[submodule "School/vim/bundle/MatchTagAlways"]
    path = School/vim/bundle/MatchTagAlways
    url = https://github.com/Valloric/MatchTagAlways
    ignore = all
[submodule "School/vim/bundle/supertab"]
    path = School/vim/bundle/supertab
    url = https://github.com/ervandew/supertab
    ignore = all
[submodule "School/vim/bundle/UltiSnips"]
    path = School/vim/bundle/UltiSnips
    url = https://github.com/SirVer/UltiSnips
    ignore = all
[submodule "School/vim/bundle/vim-autoswap"]
    path = School/vim/bundle/vim-autoswap
    url = https://github.com/gioele/vim-autoswap
    ignore = all
[submodule "School/vim/bundle/Vundle.vim"]
    path = School/vim/bundle/Vundle.vim
    url = https://github.com/gmarik/Vundle.vim
    ignore = all
