[user]
    name = James Wang
    email = jameswang9909@hotmail.com
    signingkey = F263CD5B

[branch]
    autosetuprebase = always

[alias]
    # log
    changes = log --pretty=format:\"%h %cr %cn %Cgreen%s%Creset\" --name-status
    short = log --pretty=format:\"%h %cr %cn %Cgreen%s%Creset\"
    simple = log --pretty=format:\" * %s\"
    shortnocolor = log --pretty=format:\"%h %cr %cn %s\"
    tree = log --graph --oneline --all

[core]
    autocrlf = false
    editor = vim
    excludesfile = /home/james/.gitignore_global
    pager = diff-so-fancy | less --tabs=4 -RFX

[diff]
    algorithm = patience
    compactionHeuristic = true
    colorMoved = plain

[rerere]
    # Remember my merges
    # http://gitfu.wordpress.com/2008/04/20/git-rerere-rereremember-what-you-did-last-time/
    enabled = true

[push]
    default = simple
[commit]
    gpgsign = true
[interactive]
    diffFilter = diff-highlight
[diff-so-fancy]
    markEmptyLines = false
    stripLeadingSymbols = false
[pull]
    rebase = true
